@charset 'UTF-8';

// 7. node
@import
'~tingle.js/src/tingle',
'~ml-stack-nav/src/ml-stack-nav';

// 1. Configuration and helpers
@import
'../../node_modules/rancher-website-theme/static/scss/abstracts/variables',
'../../node_modules/rancher-website-theme/static/scss/abstracts/functions',
'../../node_modules/rancher-website-theme/static/scss/abstracts/mixins';

// 2. Vendors
@import
'../../node_modules/rancher-website-theme/static/scss/vendor/normalize',
'../../node_modules/rancher-website-theme/static/scss/vendor/loryslider',
'../../node_modules/rancher-website-theme/static/scss/vendor/flexboxgrid';


// 3. Base stuff
@import
'../../node_modules/rancher-website-theme/static/scss/base/base',
'../../node_modules/rancher-website-theme/static/scss/base/fonts',
'../../node_modules/rancher-website-theme/static/scss/base/typography',
'../../node_modules/rancher-website-theme/static/scss/base/colors',
'../../node_modules/rancher-website-theme/static/scss/base/helpers';

// 4. Layout-related sections
@import
'../../node_modules/rancher-website-theme/static/scss/layout/grid',
'../../node_modules/rancher-website-theme/static/scss/layout/header',
'../../node_modules/rancher-website-theme/static/scss/layout/footer',
'../../node_modules/rancher-website-theme/static/scss/layout/sidebar',
'../../node_modules/rancher-website-theme/static/scss/layout/page-content',
'../../node_modules/rancher-website-theme/static/scss/layout/extra-small',
'../../node_modules/rancher-website-theme/static/scss/layout/small',
'../../node_modules/rancher-website-theme/static/scss/layout/medium',
'../../node_modules/rancher-website-theme/static/scss/layout/large';

// 5. Components
@import
'../../node_modules/rancher-website-theme/static/scss/components/breadcrumbs',
'../../node_modules/rancher-website-theme/static/scss/components/button',
'../../node_modules/rancher-website-theme/static/scss/components/dropdown',
'../../node_modules/rancher-website-theme/static/scss/components/forms',
'../../node_modules/rancher-website-theme/static/scss/components/tabs';

// 6. Page-specific styles
@import
'../../node_modules/rancher-website-theme/static/scss/pages/home',
'../../node_modules/rancher-website-theme/static/scss/pages/lists-single',
'../../node_modules/rancher-website-theme/static/scss/pages/partners',
'../../node_modules/rancher-website-theme/static/scss/pages/testimonials';


.modal-content {
  visibility: hidden;
  display: none;
}
