@charset 'UTF-8';

// 7. node
@import
'~tingle.js/src/tingle',
'~instantsearch.js/dist/instantsearch.nomin',
'~instantsearch.js/dist/instantsearch-theme-algolia.nomin',
'~ml-stack-nav/src/ml-stack-nav';

// 1. Configuration and helpers
@import
'../../node_modules/rancher-website-theme/static/scss/abstracts/variables',
'../../node_modules/rancher-website-theme/static/scss/abstracts/functions',
'../../node_modules/rancher-website-theme/static/scss/abstracts/mixins';

// 2. Vendors
@import
'../../node_modules/rancher-website-theme/static/scss/vendor/normalize',
'../../node_modules/rancher-website-theme/static/scss/vendor/loryslider',
'../../node_modules/rancher-website-theme/static/scss/vendor/flexboxgrid';


// 3. Base stuff
@import
'../../node_modules/rancher-website-theme/static/scss/base/base',
'../../node_modules/rancher-website-theme/static/scss/base/fonts',
'../../node_modules/rancher-website-theme/static/scss/base/typography',
'../../node_modules/rancher-website-theme/static/scss/base/colors',
'../../node_modules/rancher-website-theme/static/scss/base/helpers';

// 4. Layout-related sections
@import
'../../node_modules/rancher-website-theme/static/scss/layout/grid',
'../../node_modules/rancher-website-theme/static/scss/layout/header',
'../../node_modules/rancher-website-theme/static/scss/layout/footer',
'../../node_modules/rancher-website-theme/static/scss/layout/sidebar',
'../../node_modules/rancher-website-theme/static/scss/layout/page-content',
'../../node_modules/rancher-website-theme/static/scss/layout/extra-small',
'../../node_modules/rancher-website-theme/static/scss/layout/small',
'../../node_modules/rancher-website-theme/static/scss/layout/medium',
'../../node_modules/rancher-website-theme/static/scss/layout/large';

// 5. Components
@import
'../../node_modules/rancher-website-theme/static/scss/components/breadcrumbs',
'../../node_modules/rancher-website-theme/static/scss/components/button',
'../../node_modules/rancher-website-theme/static/scss/components/dropdown',
'../../node_modules/rancher-website-theme/static/scss/components/forms',
'../../node_modules/rancher-website-theme/static/scss/components/tree',
'../../node_modules/rancher-website-theme/static/scss/components/tabs',
'../../node_modules/rancher-website-theme/static/scss/components/search';

// 6. Page-specific styles
@import
'../../node_modules/rancher-website-theme/static/scss/pages/home',
'../../node_modules/rancher-website-theme/static/scss/pages/lists-single',
'../../node_modules/rancher-website-theme/static/scss/pages/partners',
'../../node_modules/rancher-website-theme/static/scss/pages/testimonials';


.modal-content {
  display: none;
  visibility: hidden;
}


//accordion
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
  border: solid $border thin;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: $spacer-xs;
    background: lighten($bg-default,4%);
    border: solid 1px $border;
    font-size: 2rem;
    cursor: pointer;
  }

  .tab-content {
    display: none;
    overflow: hidden;
    background: #fff;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    padding: $spacer-sm;
  }

  /* :checked */
  input:checked~.tab-content {
    display: block;
  }
  /* Icon */
  label::after {
    position: absolute;
    right: $spacer-xs;
    top: $spacer-xs;
    display: block;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  input[type=checkbox]+label::after {
    content: "+";
  }
  input[type=radio]+label::after {
    content: "\25BC";
  }
  input[type=checkbox]:checked+label::after {
    transform: rotate(90deg);
  }
  input[type=radio]:checked+label::after {
    transform: rotateX(180deg);
  }
}
