/public
/resources
/node_modules
package-lock.json
*.tern-port
*/**/.tern-port
.DS_Store
.vscode/settings.json
/scripts/converters/output
/scripts/converters/results_to_markdown/*.json
/scripts/converters/results_to_markdown/.terraform
/scripts/converters/results_to_markdown/terraform.tfstate*
/scripts/converters/results_to_markdown/*.tfvars
