{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "hero" }}
<section class="hero">
    <h1>Rancher Docs</h1>

    {{ with .Params.Author }}
      <span class="byline bg-link">{{ . }}</span>
    {{end}}
</section>
{{ end }}

{{ define "main" }}
  <div class="wrapper">
    {{ partial "docs-nav.html" . }}
    {{ $secondLevel := ($.Scratch.Get "secondLevel") }}
    {{ $.Scratch.Set "showSidebar" false }}
    {{ with $secondLevel }}
      {{ if (gt (len .Sections) 0) }}
        {{ $.Scratch.Set "showSidebar" true }}
      {{end}}
    {{end}}

    <div class="row m-t-sm">

      {{ if ($.Scratch.Get "showSidebar") }}
        <aside class="col-sm-3 col-xs-12 p-l-0">
          {{ partial "docs-side-nav.html" . }}
        </aside>
      {{end}}
      <article class="{{ if ($.Scratch.Get "showSidebar") }} col-sm-7 {{else}} col-md-9 p-r-lg {{end}} col-xs-12">

        <div class="main-content ">
        {{ with .Params.Title }}
          <h2 class="m-t-0">{{ . }}</h2>
        {{end}}
        {{ .Content }}

      </div>

         <div class="p-v-sm">{{ partial "page-edit.html" . }}</div>
      </article>
      <div class="offset-watch invisible"></div>
      <aside class="col-sm-2 col-xs-12 unstyled toc-container">
        <h4 class="m-b-0">On this page</h4>
        {{ .TableOfContents }}
      </aside>
    </div>

  </div>
{{ end }}
