{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "hero" }}
<section class="hero">
    {{ with .Params.Title }}
      <h1>{{ . }}</h1>
    {{end}}

    {{ with .Params.Author }}
      <span class="byline bg-link">{{ . }}</span>
    {{end}}
</section>

{{ end }}

{{ define "main" }}
  <div class="wrapper">
    {{ partial "docs-nav.html" . }}
    {{ $showSidebar := (gt (len ($.Scratch.Get "secondLevel").Sections) 0) }}

    <div class="row m-t-sm">

      {{ if $showSidebar }}
        <aside class="col-sm-3 col-xs-12">
          {{ partial "docs-side-nav.html" . }}
        </aside>
      {{end}}
      <article class="{{ if $showSidebar }} col-sm-6 {{else}} col-md-9 p-r-lg {{end}} col-xs-12">

        <div class="main-content ">

        {{ .Content }}

      </div>
        {{ partial "breadcrumbs.html" . }}
      </article>
      <aside class="col-sm-3 col-xs-12 unstyled">
        <h4 class="m-b-0">On this page</h4>
        {{ .TableOfContents }}
      </aside>
    </div>
  </div>
{{ end }}
