/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding-top: 4rem;
  text-align: center;
  background-image: url("/static/img/landingpage/head.svg");
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
    background-position: center;
  position: relative;
  overflow: hidden;
  color: black;
  width: 100vw;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
