{{ $.Scratch.Set "topLevel" . }}
{{ range $product := $.Site.Sections }}
  {{ range $version := .Sections }}
    {{ range $language := .Sections }}
      {{if $.CurrentSection}}
        {{ if .IsAncestor $.CurrentSection }}
          {{ $.Scratch.Set "topLevel" . }}
        {{end}}
      {{end}}
    {{end}}
  {{end}}
{{end}}

<!-- product dropdown -->
<ul class="side-menus-wrap">
  <li class="">
    <a href="{{ ($.Scratch.Get "topLevel").Permalink }}" class="">
      <span class="">
        {{ range $product := $.Site.Sections }}
          {{ range $version := .Sections }}
            {{ range $language := .Sections }}
              {{if $.CurrentSection}}
                {{ if .IsAncestor $.CurrentSection }}
                  {{ .Params.shortTitle }}
                {{end}}
              {{end}}
            {{end}}
          {{end}}
        {{end}}
      </span>
    </a>

    <ul class="submenu submenus-wrap">
      {{ range $product := $.Site.Sections }}
        {{ range $version := .Sections }}
          {{ range $language := .Sections }}
            <li><a href="{{ .Permalink }}">{{ .Params.shortTitle }}</a></li>
            {{ if .Params.insertonesix }}
              <li><a href="https://rancher.com/docs/rancher/v1.6/en/" target="blank">Rancher 1.6</a></li>
            {{end}}
          {{end}}
        {{end}}
      {{end}}
    </ul>
  </li>
</ul>

<ul class="side-menus-wrap second">
    <!-- {{ template "section-tree-nav" ($.Scratch.Get "secondLevel") }} -->
    {{ template "section-tree-nav" ($.Scratch.Get "topLevel") }}
</ul>

{{ define "section-tree-nav" }}
  {{ range .Sections}}
    <li class=""><a href="{{ .RelPermalink}}">{{ .Title }}</a>
      {{if gt (len .Sections) 0}}
        <ul class="submenu submenus-wrap">
          {{ range .Pages }}
            <li class=""><a href="{{ .RelPermalink}}">{{ .Title }}</a></li>
          {{ end }}
          {{ template "section-tree-nav" . }}
        </ul>
      {{end}}
    </li>
  {{ end }}
{{ end }}
