<div class="page-nav">
  <ol>
    {{ template "page-nav" . }}
  </ol>
</div>
{{ define "page-nav" }}
  {{ range .Sections}}
    <li class="">
      <a href="{{ .RelPermalink}}">{{ .Title }}</a>
      {{ with .Params.Description }}
        <p>{{ . }}</p>
      {{end}}
      {{if gt (len .Sections) 0}}
        <!-- <i class="material-icons expand-toggle">add_box</i> -->
        <ol>
          {{ range .Pages }}
            <li class=""><a href="{{ .RelPermalink}}">{{ .Title }}</a></li>
          {{ end }}
          {{ template "page-nav" . }}
        </ol>
      {{end}}
    </li>
  {{ end }}
{{ end }}
