/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* Import fonts. */

/* poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: local(''),
       url('../fonts/poppins/poppins-regular.woff') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins/poppins-regular.woff2') format('woff'), /* Modern Browsers */
}

/* Roboto-Mono */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local(''),
       url('../fonts/roboto-mono/roboto-mono-regular.woff') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono/roboto-mono-regular.woff2') format('woff'), /* Modern Browsers */
}

/* Lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: local(''),
       url('../fonts/lato/lato-regular.woff') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato/lato-regular.woff2') format('woff'), /* Modern Browsers */
}
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary-lightest: #80bbe2;
  --ifm-color-primary-lighter: #5eaadb;
  --ifm-color-primary-light: #53a4d8;
  --ifm-color-primary: #3d98d3;
  --ifm-color-primary-dark: #2d8bc8;
  --ifm-color-primary-darker: #2b83bc;
  --ifm-color-primary-darkest: #236c9b;
  --ifm-code-font-size: 95%;
}
@media (max-width: 768px) {
  #theme-main h1 {
    font-size: 50px !important;
    line-height: 3rem !important;
    font-weight: 700
  }
  #theme-main .header-docs {
    margin-bottom: 20px;
  }
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}

hr {
  background-image: -webkit-linear-gradient(left,#f3f3f3,#adadb1,#f3f3f3);
  margin: 0 auto;
}

.navbar__brand {
  height: 40px;
}

.btn.navbar__github {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: initial;
  border: 2px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.66;
  border-radius: 3px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a.btn.navbar__github {
  border: 2px solid transparent;
  padding: 8px 20px 7px 47px;
  font-size: 1rem;
  line-height: 1.66;
  font-weight: 400;
  position: relative;
}

a.btn.navbar__github {
  font-family: poppins,sans-serif;
  text-decoration: none;
  align-items: center;
  border-radius: 3px;
}

.btn-secondary.navbar__github:hover {
  color: #fff;
  background-color: #273230;
  border-color: #222a29;
}

a.btn.navbar__github::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 20.5 20%22%3E%3Cdefs/%3E%3Cpath fill=%22%23fff%22 d=%22M10.3.0C4.6.0.0 4.6.0 10.3c0 4.4 2.8 8.3 7 9.7.5.1.7-.2.7-.5v-1.9c-2.6.5-3.2-.6-3.4-1.2-.2-.6-.6-1.1-1-1.5-.4-.2-.9-.7.0-.7.7.1 1.3.5 1.6 1 .6 1.1 1.9 1.4 3 .8.0-.5.3-1 .7-1.4-2.3-.3-4.7-1.1-4.7-5.1.0-1 .4-2 1.1-2.8-.5-.6-.5-1.6-.1-2.5.0.0.9-.3 2.8 1.1 1.7-.5 3.4-.5 5.1.0 2-1.3 2.8-1.1 2.8-1.1.4.9.5 1.9.2 2.8.7.7 1.1 1.7 1.1 2.8.0 3.9-2.4 4.8-4.7 5.1.5.5.7 1.2.7 1.9v2.8c0 .3.2.6.7.5 5.4-1.8 8.3-7.6 6.5-13C18.6 2.8 14.7.0 10.3.0z%22/%3E%3C/svg%3E");
  height: 20px;
  width: 20px;
  position: absolute;
  left: 15px;
  top: 10px;
}


.icon-github.navbar__github {
  margin-left: 20px;
}

.btn-secondary.navbar__github {
  color: #fff!important;
  border-color: #384745;
  background-color: #384745;
  box-shadow: inset 0 1px rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

