{{ range .Site.Data.homepage.testimonial }}
<li class="js_slide testimonial m-a-sm">
<!-- <hr/> -->
  <blockquote class="text-lg text-left p-a-md m-a-0">
    <div class="p-b-sm">"{{.quote}}"</div>
    <hr class="m-a-0" />
    <div class="row middle-md between-md p-a-sm border-right">
    <div class="col-md-2 p-a-sm p-l-0">
      <img src="{{ .Site.BaseURL }}/img/quotelogos/{{.logo}}" alt="{{.company}}">
    </div>
    <div class="col-md-10 p-a-0">
      <cite class="text-md text-left p-l-sm">{{.source}},<br/>{{.position}}, {{.company}}</cite>
    </div>
  </div>
  </blockquote>
</li>
{{ end }}
