<blockquote>
	<p><strong>Note:</strong></p>
	<ul>
		<li><code>rancher/rancher</code> is hosted on <a href="https://hub.docker.com/r/rancher/rancher/tags/">DockerHub</a>. If you don't have access to DockerHub, or you are installing Rancher without an internet connection, refer to <a href="/rancher/v2.x/en/installation/air-gap-installation/install-from-private-registry/">Installing From a Private Registry</a>.</li>
		<li>For a list of other Rancher Server tags available, refer to <a href="/rancher/v2.x/en/installation/server-tags/">Rancher Server Tags</a>.</li>
	</ul>
</blockquote>
