<div>
    <ul>
        <li>
            <p>Rancher Kubernetes Engine v0.1.7 or later</p>
            <p>The commands for taking <code>etcd</code> snapshots are only available in RKE v0.1.7 and later.</p>
        </li>
        <li>
            <p><code>rancher-cluster.yml</code></p>
            <p>You'll need the RKE config file that you used for Rancher install, <code>rancher-cluster.yml</code>. You created this file during your initial install. Place this file in same directory as the RKE binary.</p>
        </li>
    </ul>
</div>