<div>
	<h4>Software Requirements</h4>
	<ul>
		<li>
			<p>Docker</p>
			<blockquote><strong>Note:</strong>If you are using RancherOS, make sure you switch the Docker engine to a supported version using <code>sudo ros engine switch docker-17.03.2-ce</code></blockquote>
			<p><strong>Supported Versions</strong></p>
			<ul>
				<li><code>1.12.6</code></li>
				<li><code>1.13.1</code></li>
				<li><code>17.03.02</code></li>
			</ul>
			<br/>
			<p><a href="https://docs.docker.com/install/">Docker Documentation: Installation Instructions</a></p>
		</li>
	</ul>
</div>
