<div>
	<h4>Hardware Requirements</h4>

	<p>Hardware requirements scale based on the size of your Rancher deployment.</p>
	<table>
	  <tr>
	    <th>Deployment Size</th>
	    <th>Clusters</th>
	    <th>Nodes</th>
	    <th>vCPUs</th>
		<th>RAM</th>
	  </tr>
	  <tr>
	    <td>Small</td>
	    <td>Up to 10</td>
	    <td>Up to 50</td>
	    <td>2</td>
		<td>4GB</td>
	  </tr>
	  <tr>
	    <td>Medium</td>
	    <td>Up to 100</td>
	    <td>Up to 500</td>
	    <td>8</td>
		<td>32GB</td>
	  </tr>
	  <tr>
	    <td>Large</td>
		<td>Over 100</td>
	    <td>Over 500</td>
	    <td colspan="2"><a href="https://rancher.com/contact/">Contact Rancher</a></td>
	  </tr>
	</table>
</div>
