<div>
	<h5>Port Requirements</h5>
	<h6>Master Nodes (etcd and controlplane nodes)</h6>
	<table>
	    <tr>
	        <th>protocol</th>
	        <th>port range</th>
	        <th>purpose</th>
	    </tr>
	    <tr>
	        <td>tcp</td>
	        <td>22</td>
	        <td>ssh server</td>
	    </tr>
	    <tr>
			<td>tcp</td>
	        <td>6443</td>
	        <td>kubernetes api server</td>
	    </tr>
	    <tr>
			<td>tcp</td>
	        <td>2379-2380</td>
	        <td>etcd server client api</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10250</td>
	        <td>kubelet api</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10251</td>
	        <td>scheduler</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10252</td>
	        <td>kube-controller-manager</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10253</td>
	        <td>federation</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10254</td>
	        <td>ingress</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10255</td>
	        <td>read-only kubelet api</td>
	    </tr>
	    <tr>
			<td>tcp</td>
	        <td>10256</td>
	        <td>kubeproxy</td>
	    </tr>
	    <tr>
	        <td>udp</td>
	        <td>8472</td>
	        <td>canal</td>
	    </tr>
	</table>
	<h6>Worker Nodes</h6>
	<table>
	    <tr>
	        <th>protocol</th>
	        <th>port range</th>
	        <th>purpose</th>
	    </tr>
	    <tr>
	        <td>tcp</td>
	        <td>22</td>
	        <td>ssh server</td>
	    </tr>
	    <tr>
			<td>tcp</td>
	        <td>80</td>
	        <td>ingress</td>
	    </tr>
	    <tr>
			<td>tcp</td>
	        <td>443</td>
	        <td>ingress</td>
	    </tr>
	    <tr>
			<td>tcp</td>
	        <td>10250</td>
	        <td>kubelet api</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10251</td>
	        <td>scheduler</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10252</td>
	        <td>kube-controller-manager</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10253</td>
	        <td>federation</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10254</td>
	        <td>ingress</td>
	    </tr>
		<tr>
			<td>tcp</td>
	        <td>10255</td>
	        <td>read-only kubelet api</td>
	    </tr>
	    <tr>
			<td>tcp</td>
	        <td>10256</td>
	        <td>kubeproxy</td>
	    </tr>
	    <tr>
			<td>tcp</td>
	        <td>30000-32767</td>
	        <td>nodeport services</td>
	    </tr>
	    <tr>
	        <td>udp</td>
	        <td>8472</td>
	        <td>canal</td>
	    </tr>
</table>
<br/>
</div>
