
<blockquote>
<p><strong>SAML Provider Caveats:</strong></p>

<ul>
<li>SAML Protocol does not support search or lookup for users or groups. Therefore, there is no validation on users or groups when adding them to Rancher.</li>
<li>When adding users, the exact user IDs (i.e. <code>UID Field</code>) must be entered correctly. As you type the user ID, there will be no search for other  user IDs that may match.</li>

<li><p>When adding groups, you <em>must</em> select the group from the drop-down that is next to the text box. Rancher assumes that any input from the text box is a user.</p>

<ul>
<li>The group drop-down shows <em>only</em> the groups that you are a member of. You will not be able to add groups that you are not a member of.</li>
</ul></li>
</ul>
</blockquote>
