	<p>The <a href="https://docs.docker.com/engine/docker-overview/#the-docker-daemon">Docker daemon</a> configuration options include:</p>
	<ul>
		<li>
			<p>
				<strong>Labels:</strong> For information on labels, refer to the <a href="https://docs.docker.com/config/labels-custom-metadata/"> Docker
					object label documentation.</a>
			</p>
		</li>
		<li>
			<p>
				<strong>Docker Engine Install URL:</strong> Determines what Docker version will be installed on the instance. Note: If you are using RancherOS, please check what Docker versions are available using <code>sudo ros engine list</code> on the RancherOS version you want to use, as the default Docker version configured might not be available. If you experience issues installing Docker on other operating systems, please try to install Docker manually using the configured Docker Engine Install URL to troubleshoot.
			</p>
		</li>
		<li>
			<p>
				<strong>Registry mirrors:</strong> Docker Registry mirror to be used by the Docker daemon
			</p>
		</li>
		<li>
			<p><strong>Other advanced options:</strong> <a href="https://docs.docker.com/engine/reference/commandline/dockerd/">Refer to the Docker daemon option reference
			  </a>
		    </p>
		</li>
	</ul>
