	<p>Complete the <strong>Rancher Template</strong> form to add metadata so that you can find your template in Rancher later.</p>
	<ul>
		<li>
			<p><strong>Labels</strong> apply metadata to your Docker objects.</p>

			<p><a href="https://docs.docker.com/config/labels-custom-metadata/">Docker object label documentation</a></p>
		</li>
		<li>
			<!-- TODO: Improve the engine options -->
			<p><strong>Engine Options</strong> customize the configuration of the <a href="https://docs.docker.com/engine/docker-overview/#the-docker-daemon">Docker daemon</a>.</p>

			<p><a href="https://docs.docker.com/engine/reference/commandline/dockerd/">daemon option reference</a></p>
		</li>
	</ul>
